.container__critics {
  padding-top: 64px;
  padding-bottom: 64px;
  h4 {
    padding-bottom: 20px;
  }
  .mini-profile {
    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}
