@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

.container__benefits {
  h4 {
    padding-bottom: 20px;
    color: #484848;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  span {
    color: #484848;
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .cards{
      border-bottom: solid #ecebeb 1px;
      margin-bottom: 80px;

  }
}
