@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Blinker:300&display=swap");

.container__benefits {
  h4 {
    padding-bottom: 20px;
    color: #484848;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  span {
    color: #484848;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .cards {
    border-bottom: solid #ecebeb 1px;
    border-top: solid #ecebeb 1px;
    margin-bottom: 76px;

    padding-top: 60px;
    padding-bottom: 30px;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    color: #484848;
    font-family: "Blinker", sans-serif;
  }
}
